In [2]:
import pandas as pd

# Updated path including the filename
path = '/Users/harshavardhan/Desktop/Netfilx/NetflixOriginals.csv'

# Read in dataset with a different encoding
df = pd.read_csv(path, encoding='latin1')

# Inspect the first few rows of the dataframe
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,05-Aug-19,58.0,2.5,English/Japanese
1,Dark Forces,Thriller,21-Aug-20,81.0,2.6,Spanish
2,The App,Science fiction/Drama,26-Dec-19,79.0,2.6,Italian
3,The Open House,Horror thriller,19-Jan-18,94.0,3.2,English
4,Kaali Khuhi,Mystery,30-Oct-20,90.0,3.4,Hindi

In [3]:
# Check data types of each column
dtype = df.dtypes
dtype

Title          object
Genre          object
Premiere       object
Runtime       float64
IMDB Score    float64
Language       object
dtype: object

In [4]:
# Convert column names to lowercase
df.columns = [col.lower() for col in df.columns]

# Inspect the first few rows to confirm the change
df.head()

,title,genre,premiere,runtime,imdb score,language
0,Enter the Anime,Documentary,05-Aug-19,58.0,2.5,English/Japanese
1,Dark Forces,Thriller,21-Aug-20,81.0,2.6,Spanish
2,The App,Science fiction/Drama,26-Dec-19,79.0,2.6,Italian
3,The Open House,Horror thriller,19-Jan-18,94.0,3.2,English
4,Kaali Khuhi,Mystery,30-Oct-20,90.0,3.4,Hindi

In [5]:
# Check for null values in the dataset
null_values = df.isnull().sum()
null_values

title         0
genre         4
premiere      0
runtime       6
imdb score    3
language      0
dtype: int64

In [6]:
# Remove rows with missing values
df = df.dropna()

# Check the dataset again for any null values to confirm removal
null_values_after = df.isnull().sum()
null_values_after

title         0
genre         0
premiere      0
runtime       0
imdb score    0
language      0
dtype: int64

In [7]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

# If duplicates are found, remove them
if duplicates > 0:
    df = df.drop_duplicates()

# Verify that duplicates have been removed
duplicates_after = df.duplicated().sum()
print("Duplicates after removal:", duplicates_after)

Number of duplicate rows: 23
Duplicates after removal: 0

In [10]:
# Convert 'premiere' column to datetime format
df['premiere'] = pd.to_datetime(df['premiere'])

df.dtypes

title                 object
genre                 object
premiere      datetime64[ns]
runtime              float64
imdb score           float64
language              object
dtype: object

In [11]:
# Assuming 'premiere' column is now a datetime type
df['year'] = df['premiere'].dt.year

# Inspect the first few rows to confirm the new 'year' column
df.head()

,title,genre,premiere,runtime,imdb score,language,year
0,Enter the Anime,Documentary,2019-08-05,58.0,2.5,English/Japanese,2019
1,Dark Forces,Thriller,2020-08-21,81.0,2.6,Spanish,2020
2,The App,Science fiction/Drama,2019-12-26,79.0,2.6,Italian,2019
3,The Open House,Horror thriller,2018-01-19,94.0,3.2,English,2018
4,Kaali Khuhi,Mystery,2020-10-30,90.0,3.4,Hindi,2020

In [12]:
# Replace spaces with underscores in column names and convert to lowercase for consistency
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# Display the updated column names to confirm the changes
df.columns

Index(['title', 'genre', 'premiere', 'runtime', 'imdb_score', 'language',
       'year'],
      dtype='object')

In [32]:
# Load the SQL extension
%load_ext sql

# Load your MySQL DB using credentials
%sql mysql+pymysql://root:h9515130016@localhost/netflix_data

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [33]:
%reload_ext sql
# Load your MySQL DB using credentials
%sql mysql+pymysql://root:h9515130016@localhost/netflix_data

In [35]:
%%sql
SELECT COUNT(DISTINCT title) AS unique_titles FROM netflix_originals;

 * mysql+pymysql://root:***@localhost/netflix_data
1 rows affected.

[(583,)]